<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img class="cs-logo-icon" src="/assets/images/logo-icon.png" alt="logo" width="40" height="40" aria-hidden="true" decoding="async">
            <img class="cs-logo-wordmark" src="/assets/images/wordmark-dark.png" alt="Murmur" width="150" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %}cs-active{% endif %}">
                            Timeline
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/search/" class="cs-li-link {% if page.url == '/search/' %}cs-active{% endif %}">
                            Search
                        </a>
                    </li>
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/new/" class="cs-li-link {% if page.url == '/new/' %}cs-active{% endif %}">
                            New Entry
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/settings/" class="cs-li-link {% if page.url == '/settings/' %}cs-active{% endif %}">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/new/" class="cs-button-solid">+ New</a>
    </div>
</header>
