---
title: "Timeline"
description: "Your voice journal timeline"
permalink: "/"
tags: "sitemap"
---

{% extends "layouts/base.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Timeline                    -->
<!-- ============================================ -->

<section id="blog-1875">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Your Murmurs</span>
            <h2 class="cs-title">Recent Memories</h2>
            <p class="cs-text" id="timeline-stats"></p>
        </div>
        <ul class="cs-card-group" id="timeline-entries">
            <!--Entries rendered by app.js-->
        </ul>
    </div>
</section>

<script defer src="/assets/js/app.js"></script>

{% endblock %}
